version: "3.9"

services:
  web:
    build: .
    container_name: django_app
    volumes:
      - .:/app
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    expose:
      - "8000"

  nextjs:
    build:
      context: ./portfolio
      dockerfile: django/Dockerfile
    container_name: nextjs_app
    volumes:
      - ./portfolio:/app
    ports:
      - "8080:8080"

  nginx:
    image: nginx:alpine
    container_name: nginx_proxy
    ports:
      - "80:80"
    volumes:
      - static_volume:/staticfiles
      - media_volume:/app/media
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - web
      - nextjs

volumes:
  static_volume:
  media_volume:
